@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap')

html
  font-size: calc(100vw / 375 * 16)
  @media ( min-width: 500px )
    font-size: calc(100vw / 1440 * 16)

body
  font-family: 'Sono', monospace
  line-height: 1.5
  font-weight: 500
  letter-spacing: -0.04

select
  appearance: none
  -webkit-appearance: none
  -moz-appearance: none

.no-scrollbar
  -ms-overflow-style: none
  scrollbar-width: none